---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
		{{ post.date | date: "%b %-d, %Y" }}
                {% if "review" == post.posttype %}
	            {% if post.nameofbook and post.bookauthor %}
		    &#9679; <i>A review of <i>&quot;{{post.nameofbook}}&quot; by <i>{{post.bookauthor}}<i>
		    {% endif %}
                {% else %}
	            {% if post.nameofbook %}
		    &#9679; <i>An excerpt from </i>&quot;{{post.nameofbook}}&quot;{% if post.bookauthor %} by <i>{{post.bookauthor}}</i>{% endif %}
		    {%else if post.postauthor %}
		    &#9679; <i>{{post.postauthor}}</i>
	            {% endif %}
                {% endif %}
	</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p> 
            {{ post.excerpt | markdownify | strip_html | strip_newlines | truncatewords: 100 ""}}
            <br>
            <a href="{{ post.url | prepend: site.baseurl }}">Read the full text</a>
        </p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a type="application/rss+xml" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
