---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.postauthor %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.postauthor }}</span></span>{% endif %}</p>
  </header>

  <!-- Insert the cover image at the start -->
  {% if page.coverimage %}
  <p style="text-align:center;">
    {% if page.goodreads %} <a href={{ page.goodreads }}> {% endif %}
      <img src={{ page.coverimage }}></img>
    {% if page.goodreads %} </a> {% endif %}
  </p>
  {% endif %}

  <!-- Actual content of the post -->
  <div class="post-content" itemprop="articleBody">
    {% if "extract-only" == page.posttype %}<blockquote>{% endif %}
      {{ content }}
    {% if "extract-only" == page.posttype %}</blockquote>{% endif %}
  </div>

  <p><hr class=post-meta /></p>

  <!-- Contributor and disclaimer -->
  {% if "essay-with-extracts" == page.posttype %}
    {% if page.postauthor %}
      <p class=post-meta>This essay has been contributed by {{page.postauthor}} and is intended for educational purposes only.</p>
    {% else %}
      <p class=post-meta>This essay is intended for educational purposes only.</p>
    {% endif %}
  {% endif %}

  <!-- Post author bio -->
  {% if page.postauthorbio %}
    <p class=post-meta>{{page.postauthorbio}}</p>
  {% endif %}

  <!-- Disclaimer if required -->
  {% if page.disclaimer %}
    <p class=post-meta>
	{{ page.disclaimer }}
    </p>
  {% endif %}
  <!-- Insert the author and title at the end of the post -->
  {% if page.nameofbook %}
    <p>
      {% if "extract-only" == page.posttype %}
      <i>Excerpted from</i> {% if page.goodreads %}<a href={{page.goodreads}}>{% endif %}{{ page.nameofbook }}{% if page.goodreads %}</a>{% endif %}, <i>{{ page.bookauthor}}</i>.
      {% endif %}
    </p>
  {% endif %}
  <p class=post-meta>
  The Odd Website is dedicated to books. Every now and then there is a extract from or a review of a book of interest in it. On the odd day, there might be an essay about books, and occasionally we might even share a video about an old school or a fancy bookstore that we like. In short, we're not averse to anything that has to do with books. This website is non-profit and extracts and reviews are for educational purposes only. If you like books you might consider <a type="application/rss+xml" href="/feed.xml">subscribing</a>.
  </p>

  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

</article>
